aside.sidebar#sidebar
  .sidebar-header#logo
    img(src="assets/logo/logo.svg", alt="", srcset="") 
    .logo-text
      h1 Dashboard 
      .version 
        h5 v0.01
  .burger-menu#burgerMenu
    span 
    span 
    span         

  .nav-container#nav-links
    ul.nav
      li.nav-item
        a(href="#").nav-item-content
          img(src="assets/icon/dashboard.svg", alt="", srcset="").icon-nav
          .nav-item-text
            h3 Dashboard
            img(src="assets/icon/right.svg", alt="", srcset="").icon-nav
      li.nav-item
        a(href="#").nav-item-content
          img(src="assets/icon/product.svg", alt="", srcset="").icon-nav
          .nav-item-text
            h3 Product
            img(src="assets/icon/right.svg", alt="", srcset="").icon-nav
      li.nav-item.active 
        a(href="#").nav-item-content
          img(src="assets/icon/customers.svg", alt="", srcset="").icon-nav
          .nav-item-text
            h3 Customers
            img(src="assets/icon/right.svg", alt="", srcset="").icon-nav
      li.nav-item
        a(href="#").nav-item-content
          img(src="assets/icon/income.svg", alt="", srcset="").icon-nav
          .nav-item-text
            h3 Income
            img(src="assets/icon/right.svg", alt="", srcset="").icon-nav
      li.nav-item
        a(href="#").nav-item-content
          img(src="assets/icon/promote.svg", alt="", srcset="").icon-nav
          .nav-item-text
            h3 Promote
            img(src="assets/icon/right.svg", alt="", srcset="").icon-nav
      li.nav-item
        a(href="#").nav-item-content
          img(src="assets/icon/help.svg", alt="", srcset="").icon-nav
          .nav-item-text
            h3 Help
            img(src="assets/icon/right.svg", alt="", srcset="").icon-nav
    include user-profile
