.sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    z-index: 1;
    .sidebar-header {
      margin-bottom: 45px;
      display: flex;
      align-items: center;
  
      .logo-text {
        display: flex;
        flex-direction: row;
        margin-left: 7px;
        align-items: first baseline;
  
        h1 {
          margin: 0;
          font-size: 26px;
          font-weight: 600;
        }
  
        .version {
          padding: 2px 4px;
          border-radius: 4px;
        }
  
        h5 {
          font-size: 10px;
          font-weight: 5;
          color: #838383;
          margin: 0;
        }
      }
      @media (max-width:1000px) {
        .logo-text  {
          display: none;
        }
      }
      @media (max-width:800px) {
        .logo-text  {
          display: flex;
        }
      }
      
    }
    @media (max-width:1000px) {
      .sidebar-header {
        justify-content: center;
      }
    }
    @media (max-width:800px) {
      .sidebar-header {
        justify-content:left;
      }
    }

    .nav-container {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      height: 100%;
    }
    @media (max-width:1000px) {
      .nav-container {
        align-items: center;
      }
    }
    ul.nav {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li.nav-item {
        display: flex;
        margin-bottom: 5px;
        padding-top: 15px;
        align-items: center;
        h3{
          margin: 0;
        }
        .nav-item-content {
          display: flex;
          flex-direction: row;
          border-radius: 8px;
          padding: 11px 8px;
        }
  
        &.active {
          h3  {
            color: #ffffff;
          }
          .nav-item-content {
            background-color: $active-button-color;
          }
          .icon-nav {
            filter: brightness(0) invert(1);
          }
        }
  
        .nav-item-text {
          display: flex;
          width: 193px;
          padding-left: 10px;
          justify-content: space-between;
        }
        @media (max-width:1000px) {
          .nav-item-text {
            display: none;
          }
        }
        @media (max-width:800px) {
        .nav-item-text {
          display: flex;
        }
      }
        
  
        a {
          text-decoration: none;
          h3 {
            color: #9197b3;
            font-weight: 300;
            font-size: 16px;
          }
        }
        
       
      }
      
    }
  
    .user-profile {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      
      img {
        border-radius: 50%;
        width: 42px;
        height: 42px;
        margin-right: 10px;
      }
  
      .user-info {
        .name {
          font-size: 14px;
          font-weight: 500;
        }
  
        .role {
          font-size: 12px;
          color: #757575;
        }
      }
    }
  
    @media (max-width:1000px) {
      .user-profile {
        flex-direction: column;
        .user-info {
          .role {
            width: 70px
          }
        }
      }
    }
  
  }


  @media (max-width:800px) {
    .sidebar{
      position: fixed;
      background-color: transparent;
      transition: background-color 0.3s ease; 
      &.active {
        background-color: #fff; 
      }
      .burger-menu {
        z-index: 1;
        width: 30px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        span {
          width: 100%;
          height: 4px;
          background-color: $active-button-color;
          transition: all 0.3s ease;
        }
        &.open span:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }
    
        &.open span:nth-child(2) {
          opacity: 0;
        }
    
        &.open span:nth-child(3) {
          transform: rotate(-45deg) translate(8px, -7px);
        }

      }
      .sidebar-header {
        display: none;
        &.active {
          display: flex;
        }
      }
      .nav-container {
        display: none;
        &.active {
          display: flex;
        }
        ul.nav {
          margin-bottom: 50px;
        }
      }
    }
  
  }


  